* {
    margin: 0;
    padding: 0;

}
.navbar-toggler{
    width: 100% !important;
    height: 60px !important;
    display: flex;
}
.navbar-toggler-icon{
    background-image: url(../img/Cart.png) !important;
    width: 40px !important;
    height: 100% !important;
    height: 100%;
}

p {
    font-size: 20px;
    width: 100%;
    color: black;
    font-size:x-large;
}

#btnPagar {
    width: 90px;
    color: white;
    background-color: rgb(116, 0, 0) !important;
    border-radius: 10px;
}


#btnPagar:hover {
    background-color: rgb(93, 0, 0) !important;
}
#btnVaciar {
    width: 90px;
    color: white;
    background-color: rgb(116, 0, 0) !important;
    border-radius: 10px;
}

#btnVaciar:hover {
    background-color: rgb(93, 0, 0) !important;
}
#eliminarCarrito {
    width: 90px;
    color: white;
    background-color: rgb(116, 0, 0) !important;
    border-radius: 10px; 
}
#eliminarCarrito:hover {
    background-color: rgb(93, 0, 0) !important;
}

i{
    color: brown; 
}
.card {
    width: 200px;
    margin: 4px;
    text-align: center;
    border: 0px solid rgba(0,0,0,0) !important;
}
img.card-img-top {
    width: 200px;
    height: 240px;
}
.card-body{
    display: flex ;
    flex-direction: column !important;
    justify-content: flex-end;
    align-items: center;
}
#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
#emptyCart{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
header{
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: whitesmoke;
}
#iconsFooter img{
    width: 45px;
    margin: 5px;
    border-radius: 15px;
}

main {
    padding: 80px 0px 0px 0px;
}
#tituloLogo img{
    width: 60px;
}
#tituloLogo {
    display: inline-flex;
    align-content: flex-end;
    align-items: flex-end;
    width: 100%;
    justify-content: center;
    padding: 30px 0px 30px 0px;
}
#btnCart{
    width: 90px !important;
    background-color: rgb(116, 0, 0);
    border-radius: 10px;
}
#btnCart:hover{
    background-color: rgb(93, 0, 0);
}
body{
    background-color: antiquewhite;
}

#totalCarrito {
    background-color: rgb(116, 0, 0);
    position: sticky;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: whitesmoke;
}
#totalCarrito p{
    display: flex   ;
    justify-content: center;
    color: whitesmoke;
    margin-bottom: 0;
}
#cartBody{
    padding-bottom: 0px !important;
}

#cartNumber {
    background-color: rgb(116, 0, 0);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-right: 0px;
    margin-left: 30px;
}
#cartNumber p{
    font-size: 15px;
    color: white;
    margin-bottom: 0;
    padding-top: 4px;
    padding-bottom: 6px;

}
#containerCart {
    display: flex;
    justify-content: space-between;
    height: 87px;
}

#containerCart img {
    width: 50px;
    height: 60px;
}
#textCart {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}
#textCart h3,p{
    font-size: large;
    margin: 0;
}

#buttonCart p{
    display: flex;
    justify-content: center;
    margin: 0;
    justify-content: space-around;
}
#btnEnviar,#btnCancelar{
    background-color:whitesmoke;
    color: rgb(116, 0, 0);
}